@import url('https://fonts.googleapis.com/css?family=Lato|Ubuntu&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #EBEBEB;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.App {
  perspective: 0 200px;
  background: #EBEBEB;
  transform: scale(0.8) skew(20deg);
  transition: transform .5s ease .5s;
  position: relative;
}

.App:hover {
  transform: scale(1.2) skew(0deg);
  transition: transform .6s;
}

button{
  font-size:2rem;
  margin: 1px;
  padding:1rem;
  width:5rem;
  background-color: rgb(100, 127, 170, 0.5);
  border: none;
  transition: .2s all ease-in;
  border-radius: 5px;
  cursor: pointer;
}

button:active, button:hover{
  background-color:#e2cbc3;
}

.display{
  font-family: 'Lato', sans-serif;
  height: 3em;
  background: #2B293D;
  color: #fff;
  margin: 1px;
  width: 21.2vw;
  padding: 1.5rem;
  text-align: right;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  font-size: 1.5rem;
  margin-bottom: 3px;
  text-shadow: 0 0 5px rgba(89, 195, 195, 0.5);
}

.clear:hover{
  background: #dd3939;
}

.heading{
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.4rem;
}